<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="<%= post.url %>" class="thumbnail"><%= post.url %></a>
      <p>
      </p>
        <small>
          submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.user_name %><br/>
        </small>
        <p></p>

          <%= render partial: '/favorites/favorite', locals: { topic: @topic, post: post } unless post.user == current_user %>

          <p></p>
          <small>
            <%= link_to "Delete this post", [post.topic, post], method: :delete, confirm: 'Are you sure you want to delete this post?' %>
          </small>

  </div>
</div>
